@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./normalize.css");
@import url("./fontello.css");
*, *::before, *::after{
  box-sizing: border-box;
}
/* 숨길 콘텐츠 */
.a11y-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* clip: rect(0,0,0,0); */
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:focus{
  box-shadow: 0 0 5px 1px #296897;
}
html{
  font-size: 10px;
}
body{
  background:#fff;
  color:#181818;
  font-size: 1.4rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif'; 
  font-weight: 300;
}
/* 컨테이너 */
/* 배경이미지는 먼저 선언한 것이 제일 위에 위치*/
.container{
  background: url(./images/bg_flower.png) no-repeat 50% 0, #aaa linear-gradient(#ccc, #eee 35%, #fff 65%, #fff 100%);
}
.header, .visual, .main, .slogan, .footer {
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background: #fff;
  position: relative;
  border-radius: 0 0 15px 15px;
  padding-bottom: 5px;
} 
/* 로고 */
.logo{
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 60px;
  top: 45px;
}
/* 멤버 링크 */
.member{
  margin: 0 23px 0 30px;
  padding-left: 0;
  list-style-type: none;
  text-align: right;
  font-size: 0px;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
  padding-top: 3px;
  padding-bottom: 2px;
}
.member a{
  padding: 0.5em;
  text-transform: uppercase;
}
.navigation{
  padding-bottom: 32px
}
/* 메인 메뉴 */
.menu {
  height: 49px;
  margin: 0 30px;
  padding-left: 225px;
  list-style: none;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  background: rgb(207,157,19);
  background: linear-gradient(180deg, rgba(207,157,19,1) 0%, rgba(121,73,9,1) 35%, rgba(121,73,9,1) 70%, rgba(207,157,19,1) 100%);
}
.menu-act .btn-menu{
  color: #ff0;
}
.menu-item{
  position: relative;
  float: left;
  border-left: 2px solid rgba(255,255,255,0.5);
}
.btn-menu{
  display: block;
  padding: 1em 1.4em;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow:
  1px 0 0 #000,
  0 1px 0 #000,
  -1px 0 0 #000,
  0 -1px 0 #000;
}
.menu-act .btn-menu::after{
  content:"";
  background: pink;
  display: block;
  border-top: 2px solid #000;
  position: relative;
  top: 1em;
}
.btn-menu:focus{
  box-shadow: initial;
}
.sub-menu{
  display: none;
  position: absolute;
  padding-left: 0;
  list-style: none;
  top: 49px;
  white-space: nowrap;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
.menu-act .sub-menu {
  display: block !important;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a{
  padding: 0.5em 0.5em 0.5em 0;
}

/* 비주얼 */
/* 비주얼 애니메이션 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.visual{
  height: 120px;
  position: relative;
  /* opacity: ; */
}
.visual::before, .visual::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.visual::before{
  background:  url("./images/ani_flower_01.png") no-repeat 0 -10px,
  url("./images/ani_flower_02.png") no-repeat 670px 0;
}
.visual::after{
  animation-delay: 500ms;
  /* background: hsla(200, 50%, 50%, 0.5); */
  background:  url("./images/ani_flower_03.png") no-repeat 300px 0,
  url("./images/ani_flower_04.png") no-repeat 800px 0;
}
.visual-text{
  width: 500px;
  /* position: absolute; */
  transform: translate(400px, 75px);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  animation-name: textAni;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}
/* 메인 콘텐츠 */
.main{
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 30px 15px;
  height: 60vh; 
  display: flex;
/*   flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-around;

}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  background: radial-gradient(circle at right top, rgba(212,92,24,1), rgba(196,53,14,1));
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #aaa;
  padding:10px
}
.login-heading{
  color:yellow;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 10px 10px;
}
.login-form{
  background: #fff;
  border-radius: 5px 5px 0 0;
  padding: 8px;
}
.login-form fieldset{
  position: relative;
  padding: 0;
  border: none;
  margin: 0;
  border-bottom: 1px solid #aaa;
  padding-bottom: 5px;
}
.user-email, .user-pw{
  margin: 5px;
}
/* 속성 선택자 [] */
[for="userEmail"],[for="userPw"]{
  display:inline-block;
  width: 4em;
}
[name="userId"],[name="userPwd"]{
  width: 90px;
  height: 24px;
  border: 1px solid #aaa;
  padding: 0 0.5em;
}
.btn-login{
  position: absolute;
  top: 4.5px;
  right: 0;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  background: rgb(212,92,24);
}
.sign{
  background: #fff;
  padding: 10px 10px 10px 5px;
  border-radius: 0 0 5px 5px;
  list-style: none;
  margin: 0;
  display:flex;
  justify-content: space-between;
}
.sign a::before{
  color: rgb(212,92,24)
}
.login-form legend{
  display:none;
}

/* 
.login-form {
  padding-left: 0;
  list-style: none;
  top: 49px;
  white-space: nowrap;
}
.sign {
  display: flex;
  justify-content: space-between;
}
.sign li{
  display: inline-block;
}
.sign a{
  background: yellow;

}
 */
/* 유효성 검사 배너 */
.validation-list{
  margin-top: 25px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.validation-list a{
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  line-height: 30px;
  height: 30px;
  margin: 10px 0;
  padding-left: 45px;
  background: url("./images/validation_icon.png") no-repeat 20px 50%,
  linear-gradient(#ccc, #eee);
}
/* .validation-list li{
  list-style: none;
  padding-inline-start: 0;
  background: radial-gradient(circle at right top, rgba(212,92,24,1), rgba(196,53,14,1));
  border-radius: 30px;
  padding:20px;
}

.validation-list a{
  font-family: sans-serif;
} */
/* 웹 관련 용어 */
/* 슬로건 */
.slogan{
  background: lime;
  height: 10vh;
}
/* 푸터 */ 
.footer-bg{
  background: #aaa linear-gradient(#ccc, #eee 35%, #fff 65%, #fff 100%);
}
.footer{
  background: pink;
  height: 10vh;
}